{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: calc({{ section.settings.padding_top }}px * 0.75);
    padding-bottom: calc({{ section.settings.padding_bottom }}px  * 0.75);
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<style>
  .our-work_section {
    position: relative;
  }
  .our-work_section .container {
    max-width: 1250px;
    margin: 0 auto;
    padding: 0 2rem;
  }
  .our-work_section .hide-on-mobile {
    display: none;
  }
  .our-work_section .work_grid {
    display: grid;
    gap: 2rem;
    margin-top: 2rem;
  }
  .our-work_section .work_grid a {
    display: block;
    width: 100%;
    color: inherit;
    text-decoration: none;
  }
  .our-work_section .work_grid a.hide-on-mobile {
    display: none;
  }
  .our-work_section .work_card {
    display: grid;
    gap: 16px;
    margin: 1rem 0;
    width: 100%;
  }
  .our-work_section .work_card .work_image {
    position: relative;
    border-radius: 10px;
    width: 100%;
    height: 275px;
    object-fit: cover;
    overflow: hidden;
  }
  .our-work_section .work_card .work_image .main_image {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .our-work_section .work_card .coming-soon-lace {
    display: flex;
    gap: 4rem;
    align-items: center;
    text-transform: uppercase;
    position: absolute;      
    background-color: black;
    color: white;
    top: 40%;
    left: 0;
    white-space: nowrap;
    padding: 2rem 0;
    transform: rotate(-15deg) translate(-50px, 80px);
    transform-origin: left;
  }
  .our-work_section .work_card .work_image .hover-overlay {
    display: none;
  }
  .our-work_section .work_card .work_flex {
    display: grid;
    gap: 2rem;
  }
  .our-work_section .work_card .work_tags {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }
  .our-work_section .work_card .work_tag {
    padding: 0 20px;
    border: 1px solid #000000;
    border-radius: 999px;
  }
  .our-work_section .work_card .work_title {
    font-family: 'SeriouslyNostalgic';
    font-size: 28px;
    line-height: 1;
    margin: 0;
  }
  .our-work_section .hide-on-desktop {
    display: block;
    width: max-content;
    margin: 40px auto 0 auto;
  }

  @media (min-width: 750px) {
    .our-work_section .work_flex {
      display: flex;
      justify-content: space-between;
      gap: 2rem;
    }
    .our-work_section .work_flex > div {
      width: 100%;
    }
    .our-work_section .hide-on-mobile {
      display: block;
    }
    .our-work_section .hide-on-desktop {
      display: none;
    }
    .our-work_section .work_grid {
      margin-top: 4rem;
      grid-template-columns: repeat(2, 1fr);
      place-items: start;
    }
    .our-work_section .work_grid a.hide-on-mobile {
      display: block;
    }
    .our-work_section .work_card .work_image {
      height: 471px;
    }
    .our-work_section .work_card .work_image .main_image {
      transition: transform 0.1s ease;
    }
    .our-work_section .work_card .coming-soon-lace {
      transition: transform 0.1s ease;
      display: none;
    }
    .our-work_section .work_card:hover .coming-soon-lace {
      display: flex;
    }
    .our-work_section .work_card:hover .hover-overlay {
      display: block;
      position: absolute;
      inset: 0;
      transition: transform 0.1s ease;
    }
    .our-work_section .work_card .hover-overlay .overlay-tag {
      position: absolute;
      background-color: #ffffff;
      color: #000000;
      border: 1px solid #000000;
      border-radius: 100%;
      font-size: 16px;
      line-height: 1;
      padding: 16px 20px;
      text-transform: uppercase;
    }
    .our-work_section .work_card .hover-overlay .overlay-tag:nth-child(1) {
      top: 18%;
      left: 12%;
      transform: rotate(-10deg);
    }
    .our-work_section .work_card .hover-overlay .overlay-tag:nth-child(2) {
      top: 15%;
      right: 12%;
      transform: rotate(10deg);
    }
    .our-work_section .work_card .hover-overlay .overlay-tag:nth-child(3) {
      top: 45%;
      left: 35%;
      transform: rotate(-2deg);
    }
    .our-work_section .work_card .hover-overlay .overlay-tag:nth-child(4) {
      bottom: 14%;
      left: 10%;
      transform: rotate(-7deg);
    }
    .our-work_section .work_card .hover-overlay .overlay-tag:nth-child(5) {
      bottom: 18%;
      right: 10%;
      transform: rotate(8deg);
    }
    .our-work_section .work_card:hover .rotate-right {
      transform: rotate(3deg);
    }
    .our-work_section .work_card:hover .rotate-left {
      transform: rotate(-3deg);
    }
    .our-work_section .work_card .work_flex {
      display: flex;
      flex-direction: row-reverse;
      align-items: flex-start;
      justify-content: space-between;
      width: 100%;
    }
    .our-work_section .work_card .work_flex > div {
      width: 100%;
    }
    .our-work_section .work_card .work_tags {
      justify-content: flex-end;
    }
  }
</style>

<div class="color-{{ section.settings.color_scheme }} gradient">
  <div class="section-{{ section.id }}-padding">
    <section class="our-work_section">
      <div class="container">
        {% if shop.metaobjects.works %}
          <div class="work_grid">
            {% assign sorted_works = shop.metaobjects.works.values | sort_natural: 'sort_order_letter' %}
            {% for work in sorted_works %}
              <{% if work.coming_soon %}div{% else %}a{% endif %}
                class=""
                {% unless work.coming_soon %}
                  href="{{ work.system.url }}"
                {% endunless %}
              >
                <div class="work_card">
                  <div class="work_image" style="background-color: {{ work.main_color | default: '#DDDDDD' }}">
                    <img
                      class="main_image{% if forloop.index0 == 0 or forloop.index0 == 2 %} rotate-left{% else %} rotate-right{% endif %}"
                      src="{{ work.featured_image.value.src | image_url }}"
                      alt="{{ work.featured_image.value.alt | escape }}"
                      width="{{ work.featured_image.value.width }}"
                      height="{{ work.featured_image.height }}"
                    >
                    {% if work.coming_soon %}
                      <div class="coming-soon-lace">
                        <span>Coming soon</span>
                        <span>Coming soon</span>
                        <span>Coming soon</span>
                        <span>Coming soon</span>
                        <span>Coming soon</span>
                        <span>Coming soon</span>
                      </div>
                    {% else %}
                      <div class="hover-overlay{% if forloop.index0 == 0 or forloop.index0 == 2 %} rotate-left{% else %} rotate-right{% endif %}">
                        <div class="overlay-tag">View project</div>
                        <div class="overlay-tag">View project</div>
                        <div class="overlay-tag">View project</div>
                        <div class="overlay-tag">View project</div>
                        <div class="overlay-tag">View project</div>
                      </div>
                    {% endif %}
                  </div>
                  <div class="work_flex">
                    <div class="work_tags">
                      {% for tag in work.tags.value %}
                        <span class="work_tag">{{ tag }}</span>
                      {% endfor %}
                    </div>
                    <div>
                      <h3 class="work_title">{{ work.title }}</h3>
                    </div>
                  </div>
                </div>
              </{% if work.coming_soon %}div{% else %}a{% endif %}>
            {% endfor %}
          </div>
        {% endif %}
      </div>
    </section>
  </div>
</div>

{% schema %}
{
  "name": "Main works list",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 52
    }
  ],
  "presets": [
    {
      "name": "Main works list"
    }
  ]
}
{% endschema %}
