{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: calc({{ section.settings.padding_top }}px * 0.75);
    padding-bottom: calc({{ section.settings.padding_bottom }}px  * 0.75);
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<style>
  .services_section {
    width: 100%;
    overflow: hidden;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .services_section .supra_title {
    font-family: 'Suisse Intl';
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1.4px;
    display: block;
    margin-bottom: 1rem;
  }
  .services_section .section_title {
    font-size: 60px;
    margin: 0;
    line-height: 1;
  }
  .services_section .section_title em {
    font-family: 'SeriouslyNostalgic Fn It';
  }
  .services_section .top_container {
    margin-bottom: 2rem;
  }
  .services_section .services_list {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
  }
  .services_section .video_review {
    width: 100%;
  }
  .services_section .services_list .card_link {
    text-decoration: none;
    color: inherit;
  }
  .services_section .service_card {
    display: grid;
    gap: 1rem;
  }
  .services_section .service_card .card_image {
    position: relative;
    height: 246px;
    width: 100%;
  }
  .services_section .service_card .card_image img {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .services_section .service_card .main_card_image {
    border-radius: 22px;
  }
  .services_section .service_card .hover_card_image {
    opacity: 0;
    border-radius: 50%;
  }
  .services_section .service_card:hover .main_card_image {
    opacity: 0;
  }
  .services_section .service_card:hover .hover_card_image {
    opacity: 1;
  }
  .services_section .service_card .index_tag,
  .services_section .service_card .arrow_tag {
    font-family: 'PP NeueBit';
    font-size: 14px;
    font-weight: 700;
    line-height: 1.2;
    position: absolute;
    z-index: 2;
    background-color: #ffffff;
    border-radius: 100px;
  }
  .services_section .service_card:hover .index_tag,
  .services_section .service_card:hover .arrow_tag {
    display: none;
  }
  .services_section .service_card .index_tag {
    padding: 4px 14px;
    top: 1rem;
    left: 1rem;
  }
  .services_section .service_card .arrow_tag {
    width: 36px;
    height: 36px;
    display: grid;
    place-items: center;
    bottom: 1rem;
    right: 1rem;
  }
  .services_section .card_tag {
    font-family: 'PP NeueBit';
    font-size: 14px;
    line-height: 1;
    font-weight: 700;
    border: 1px solid #000000;
    border-radius: 100px;
    padding: 4px 10px;
    width: max-content;
  }
  .services_section .card_hover_tag {
    text-transform: uppercase;
    display: none;
  }
  .services_section .service_card .card_main_tag.capitalize {
    text-transform: capitalize;
  }
  .services_section .service_card:hover .card_main_tag {
    display: none;
  }
  .services_section .service_card:hover .card_hover_tag {
    display: block;
  }
  .services_section .service_title {
    margin: 0;
    font-size: 26px;
  }
  .services_section .service_title_italics {
    font-family: 'SeriouslyNostalgic Fn It';
  }
  .services_section .kind_words_card {
    background-color: #058ae5;
    color: #ffffff;
    padding: 14px;
    border-radius: 25px;
    height: 100%;
    width: 100%;
    flex-shrink: 0;
    font-size: 14px;
    letter-spacing: 0;
  }
  .services_section .kind_words_card .kind_words_content {
    line-height: 1.4;
    font-weight: 400;
  }
  .services_section .kind_words_title {
    font-family: 'Suisse Intl';
    font-weight: 500;
    text-transform: uppercase;
  }
  .services_section .hide-on-mobile {
    display: none;
  }
  @media (min-width: 750px) {
    .services_section {
      max-width: min(90vw, 1250px);
      margin: 0 auto;
    }
    .services_section .section_title {
      font-size: 100px;
    }
    .services_section .services_list {
      grid-template-columns: repeat(3, 1fr);
      gap: 80px 20px;
    }
    .services_section .service_card .card_image {
      height: 350px;
    }
    .services_section .service_card .index_tag {
      font-size: 18px;
      padding: 5px 24px;
    }
    .services_section .service_card .arrow_tag {
      width: 40px;
      height: 40px;
    }
    .services_section .card_tag {
      font-size: 18px;
    }
    .services_section .service_title {
      font-size: 44px;
    }
    .services_section .kind_words_card {
      padding: 16px;
      font-size: 18px;
    }
    .services_section .kind_words_author {
      margin-top: 4rem;
    }
  }
  @media (min-width: 990px) {
    .services_section .services_list {
      grid-template-columns: repeat(4, 1fr);
      gap: 80px 20px;
    }
  }
  @media (min-width: 1100px) {
    .services_section .service_card .card_image {
      height: 422px;
    }
    .services_section .service_card .index_tag {
      font-size: 24px;
    }
    .services_section .service_card .arrow_tag {
      width: 50px;
      height: 50px;
    }
    .services_section .card_tag {
      font-size: 24px;
    }
    .services_section .service_title {
      font-size: 52px;
    }
    .services_section .kind_words_card {
      font-size: 18px;
      padding: 24px;
    }
  }
</style>

<div class="color-{{ section.settings.color_scheme }} gradient">
  <div class="section-{{ section.id }}-padding">
    <section class="services_section">
      <div class="top_container">
        <div class="section_information">
          <span class="supra_title">GET INSPIRED & EXPLORE</span>
          <h2 class="section_title">Our <em>Services</em></h2>
        </div>
      </div>
      <div class="services_list">
        <video autoplay muted playsinline loop controls class="video_review">
          <h2 class="section_title em">font-family: "SeriouslyNostalgic Fn";; }Our <em>Services</em></h2>
          <source src="https://cdn.shopify.com/videos/c/o/v/7f3a843230d64456b87b8097e5aa8124.mp4" type="video/mp4">
        </video>
        {% assign sorted_services = shop.metaobjects.services.values | sort_natural: 'sort_order_letter' %}
        {% for service in sorted_services %}
          <{% if service.coming_soon %}div{% else %}a{% endif %}
            class="card_link"
            {% unless service.coming_soon %}
              href="{% if service.subtitle != 'coming soon' %}{{ service.system.url }}{% else %}#{% endif %}"
            {% endunless %}
          >
            <div class="service_card">
              <div class="card_image">
                <img
                  class="main_card_image"
                  src="{{ service.featured_image.value.src | image_url }}"
                  alt="{{ service.featured_image.value.alt | escape }}"
                  width="{{ service.featured_image.value.width }}"
                  height="{{ service.featured_image.height }}"
                >
                {% if service.hover_image.value != blank %}
                  <img
                    class="hover_card_image"
                    src="{{ service.hover_image.value.src | image_url }}"
                    alt="{{ service.hover_image.value.alt | escape }}"
                    width="{{ service.hover_image.value.width }}"
                    height="{{ service.hover_image.height }}"
                  >
                {% else %}
                  <img
                    class="hover_card_image"
                    src="{{ service.featured_image.value.src | image_url }}"
                    alt="{{ service.featured_image.value.alt | escape }}"
                    width="{{ service.featured_image.value.width }}"
                    height="{{ service.featured_image.height }}"
                  >
                {% endif %}
                <div class="index_tag">
                  {%- if forloop.index <= 9 %}
                    {{ forloop.index | prepend: "0" }}
                {% else %}
                    {{ forloop.index }}
                {% endif %}
                </div>
                <div class="arrow_tag">{% render 'icon-arrow' → %}</div>
              </div>
              <div class="card_tags">
                {% if service.subtitle != 'coming soon' %}
                  <div class="card_tag card_main_tag">Availability Open</div>
                {% else %}
                  <div class="card_tag card_main_tag capitalize">{{ service.subtitle }}</div>
                {% endif %}
                <div class="card_tag card_hover_tag">{{ service.subtitle }}</div>
              </div>
              <h3 class="service_title">
                {%- assign title_words = service.title | split: ' ' -%}
                {% for word in title_words -%}
                  {% if forloop.last and forloop.length != 1 %}
                    <i class="service_title_italics">{{ word }}</i>
                  {% else %}
                    {{ word }}
                  {%- endif -%}
                {%- endfor %}
              </h3>
            </div>
          </{% if service.coming_soon %}div{% else %}a{% endif %}>
        {% endfor %}

        <div class="kind_words_card">
          <div class="kind_words_title">Kind words</div>
          <p class="kind_words_content">
            I LOVED working with Sabrina - I can't recommend her enough - everything has been amazing - her creativity,
            attention to detail, positive attitude and a super fresh view on everything. I'm already working on next
            projects with her!
          </p>
          <div class="kind_words_author">Ania, Founder & CEO</div>
          <div class="kind_words_company">June Sky</div>
        </div>
      </div>
    </section>
  </div>
</div>

{% schema %}
{
  "name": "Main services list",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 52
    }
  ],
  "presets": [
    {
      "name": "Main services list"
    }
  ]
}
{% endschema %}
